<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/dist/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/dist/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/dist/Css/style.css" />
    <script type="text/javascript" src="/dist/Js/jquery2.js"></script>
    <script type="text/javascript" src="/dist/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="/dist/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/dist/Js/ckform.js"></script>
    <script type="text/javascript" src="/dist/Js/common.js"></script>
    <script type="text/javascript" src="/dist/Js/jquerypicture.js"></script>
    
    <style type="text/css">
        body {font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<br>
 <font color="#777777"><strong>请填写作者资料：</strong></font>
<form action="{:url('checkEdit')}" method="post" class="definewidth m20" enctype="multipart/form-data">
<table class="table table-bordered table-hover m10" style="margin-left:10px;margin-top:3px;">
    
   
   <br>
    <tr>
        <td class="tableleft">作者简介</td>
        <td><textarea name="intro" cols="500" rows="10" >{$list.intro}</textarea></td>
        <td class="tableleft">意义目标</td>
        <td><textarea name="goal" rows="10" >{$list.goal}</textarea></td>
    </tr>
	<tr>
		<td class="tableleft">联系微信</td>
        <td><input type="text" name="wechat" value="{$list.wechat}" /></td>
		<input type="hidden" name="aid" value="{$list.aid}" />
      
    </tr>
	
	
</table>

<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary">提交</button>

<a href="{:url('userDocumentQuery')}" style="width:50px;" class="btn btn-primary">返回</a>
</form>
<script>	
$("#GoodsPicture").change(function(){
	var objUrl = getObjectURL(this.files[0]) ;
	console.log("objUrl = "+objUrl) ;
	if (objUrl) {
		$("#img0").attr("src", objUrl) ;
	}
}) ;

</body>
</html>
<script>
   $(function (){       
		$('#backid').click(function(){
				window.location.href="goodsQuery.html";
		 });
    });
		
</script>

