<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/style.css" />
    <script type="text/javascript" src="/dist/Js/jquery2.js"></script>
    <script type="text/javascript" src="/dist/Js/jquery2.sorted.js"></script>
    <script type="text/javascript" src="/dist/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/dist/Js/ckform.js"></script>
    <script type="text/javascript" src="/dist/Js/common.js"></script>
    <script type="text/javascript" src="/dist/Js/jquerypicture.js"></script>
    
    <style type="text/css">
        body {font-size: 20px;
            padding-bottom: 40px;
            background-color:#e9e7ef;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="{:url('checkEidt')}" method="post" class="definewidth m20" enctype="multipart/form-data">
<table class="table table-bordered table-hover m10" style="margin-left:10px;margin-top:3px;">
 
    <tr>
        <td class="tableleft">资源名称</td>
        <td><input type="text" name="rname" value="{$list[0]['rname']}" /></td>
        
    </tr>
    <tr>
        <td class="tableleft">连接地址</td>
        <td><input type="text" name="rconnect" value="{$list[0]['rconnect']}" /></td>
    </tr>
	 
    <tr>
        <td class="tableleft"></td>
		<input type="hidden" name="rid" value="{$list[0]['rid']}" />
        <td>
			<button style="margin-left:5px;"type="submit" class="btn btn-primary" type="button"  >保存</button>
			
			&nbsp;&nbsp;
			<a href="{:url('documentQuery')}"><button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button></a>
        </td>
    </tr>
	
</table>
</form>

</body>
</html>

